*{
  margin:0 auto;
  /* padding: 0; */
  box-sizing: border-box;
}
body{

}
.homeBackg{

 background-image: url('https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg?cs=srgb&dl=symmetrical-photography-of-clouds-covered-blue-sky-1486974.jpg&fm=jpg');
 background-size: cover;
 
}

.statusImg{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}